
<h1 class="col-md-offset-2 col-md-8 col-md-offset-2">
  Edit Blog Post
</h1>

<%= render 'form', blogpost: @blogpost %>

<!-- <%= link_to 'Show', @blogpost %> | -->
<!--<%= link_to 'Back', blogposts_path %>-->
