// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 50px;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #fdfdfd;
}

.form-control {      // override Bootstrap defaults to match Rails defaults!
  border-radius: 0;
  border-color: rgb(169, 169, 169);
  line-height: 18px;
  height: 24px;
  padding: 1px;
} 

.form-control:focus {
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}

.push-right {
  margin-left: 1em;
}

input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  font-size: 13px;
  font-weight: 500;  
}

.work-box {
  padding: 1em;
//  margin-right: 20%;
  border-left: 1px solid #C2C2C2;
  border-right: 1px solid #C2C2C2;
}

.article-box {
  background-color: #eaeced;
}

.display-subject a {
  color: blue;
  font-size: 1.5em;  
}

.display-subject a:hover {
  font-weight: bold;
  background-color: #fff;
  text-decoration: none;

}

.align-right {
  text-align: right;  
}

//.header-indent {
//  margin-left: 20%;
//}

.textfield-full {
  width: 100%;
  }

.textfield-medium {
  width: 40%;
}

.textarea-full {
  width: 100%;
  height: 16em;
}

article {
  font-size: 1.5em;
}

.entry-summary {
  margin: 0;
  font-style: italic;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 5px;
}

h4 {
  margin-top: 0;
  text-transform: uppercase;
  color: #316c7c;
}

.bottom-of-page {
  margin-bottom: 30px;
}

.footer-format {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* make it sticky */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

/* shared navigation */

.navbar {
  font-family: 'Chewy', cursive;
  font-size: 2em;
}

.navbar {
  background-color: #fff;
}

.navbar a {
  border-left: 1px solid #C2C2C2;
}

.navbar-inverse .navbar-nav>li>a {
  color: #c2c2c2;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: black;
}

.navbar-toggle {
  background-color: gray;
}

.custom-navbar-inverse {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  border-color: #c2c2c2;
}

@media (max-width: 768px) {
  .push-right {
    margin-left: 0;
  }  
}